.verticalMenu {
    color: white;
    display: flex;
    flex-flow: column nowrap;
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 65%;
    padding: 20px 0px 0px 20px;
    background: rgb(35, 60, 75);
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
    transform: translateX(100%);
    transition: all 300ms;
    z-index: 5000;
}
.closeMenu {
    text-align: right;
    margin-top: -3vh;
    margin-right: 4vw;
}
.burgerButton {
    color: white;
    text-decoration: none;
    font-size: 36px;
}
a {
    text-decoration: none;
}
.verticalMenuOpen {
    opacity: 1;
    transform: translateX(0);
}