.portfolioWrapper {
    background: rgba(211, 211, 211, 0.377);
    grid-row: 2/3;
}
.galnav {
    cursor: pointer;
    transition: color 150ms;
}
.galnav:hover {
    color:lightgreen;
}
.navLeft {
    position: absolute;
    margin: 45vh auto auto 5vw;
}
.navRight {
    position: absolute;
    margin: 45vh auto auto 90vw;
}
.portfolioViewer {
    width: 65vw;
    margin: 20vh auto;
    opacity: 0;
    transition: all 300ms ease-in;
}
.projSpotlite {
    height: 60vh;
    margin-top: 10vh;
    opacity: 1;
    transition: opacity 300ms ease-out, transform 400ms ease-out;
}
.portfolioViewer.appear {
    opacity: 1;
}
.image {
    height: auto;
    width: 33vw;
}
.projHeader {
    display: flex;
    width: inherit;
    justify-content: space-around;
    align-content: center;
    font-size: 96px;
    font-weight: 200;
}
.projLower {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.projDesc {
    margin-top: 3vh;
    list-style-type: none;
    font-size: 16px;
    padding-left: 7.5px;
}
.projDesc>li {
    margin-bottom: 16px;
}
.hoverlinks {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    margin-top: 5vh;
} 
.hoverLink {
    text-decoration: none;
    font-size: 48px;
    color: #2a7947;
    transition: all 150ms;
    margin-right: 5vw;
}
.hoverLink:hover {
    color: #3ead67;
}
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
    background: #888;
}
::-webkit-scrollbar-thumb:hover {
    background: #555;
} 
/* .contentHolder {
    opacity: 1;
} */
.slideRight {
    animation: slideRight 600ms ease-in-out;
}
.slideLeft {
    animation: slideLeft 600ms ease-in-out;
}
@keyframes slideRight {
    0% {
        opacity: 1;
        transform: translateX(0);
    }
    25% {
        opacity: 0;
        transform: translateX(100vw);
    }
    50% {
        opacity: 0;
        transform: translateX(-100vw);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}
@keyframes slideLeft {
    0% {
        opacity: 1;
        transform: translateX(0);
    }
    25% {
        opacity: 0;
        transform: translateX(-100vw);
    }
    50% {
        opacity: 0;
        transform: translateX(100vw);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}
@media only screen and (max-width: 1000px) {
    .image {
        display: none;
    }
    .galnav {
        transform: scale(0.5);
    }
    .navLeft {
        margin: 45vh auto auto 1vw;
    }
    .navRight {
        margin: 45vh auto auto 85vw;
    }
    .hoverLinks {
        flex-basis: 100%;
        margin-top: 3vh;
    }
}
@media only screen and (max-width: 768px) {
    .portfolioViewer {
        margin: 5vh auto;
    }
    .projHeader {
        font-size: 4rem;
    }
}
/* @media only screen and (min-device-width: 375px) and (max-device-width: 782px) and (orientation: landscape) {
    .portfolioViewer {
        margin: 0 auto;
    }
    .projSpotlite {
        margin-top: 0;
    }
    .projHeader {
        font-size: 15vmin;
    }
    .projDesc {
        font-size: 4vmin;
    }
    .hoverLink {
        font-size: 12vmin;
    }
} */
@media only screen and (min-device-width: 375px) and (max-device-height: 813px) and (orientation: landscape) {
    .portfolioViewer {
        margin: 0 auto;
    }
    .projSpotlite {
        margin-top: 0;
    }
    .projHeader {
        font-size: 15vmin;
    }
    .projDesc {
        font-size: 4vmin;
    }
    .hoverLink {
        font-size: 12vmin;
    }
}