.portfolioWrapper {
    background: rgba(211, 211, 211, 0.377);
    grid-row: 2/3;
}
.galnav {
    cursor: pointer;
    transition: color 150ms;
}
.galnav:hover {
    color:lightgreen;
}
.navLeft {
    position: absolute;
    margin: 45vh auto auto 5vw;
}
.navRight {
    position: absolute;
    margin: 45vh auto auto 90vw;
}
.portfolioViewer {
    width: 65vw;
    margin: 20vh auto;
    opacity: 0;
    transition: all 300ms ease-in;
}
.projSpotlite {
    height: 60vh;
    margin-top: 10vh;
    display: grid;
    grid-template-columns: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
    grid-template-rows: 20% 20% 20% 20% 20%;
    opacity: 1;
    transition: opacity 300ms ease-out, transform 400ms ease-out;
}
.portfolioViewer.appear {
    opacity: 1;
}
.image {
    max-width: 65vw;
    grid-column: 1;
    grid-row: 1/2;
}
.projHeader {
    grid-column: 6;
    grid-row: 1/2;
    margin-top: -3vh;
    font-size: 96px;
    font-weight: 200;
}
.projDesc {
    grid-column: 1/6;
    grid-row: 4;
    list-style-type: none;
    font-size: 16px;
    padding-left: 7.5px;
}
.projDesc>li {
    margin-bottom: 16px;
}
.hoverlinks {
    grid-column: 7;
    grid-row: 4;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
} 
.hoverLink {
    text-decoration: none;
    font-size: 48px;
    color: #2a7947;
    transition: all 150ms;
    margin-right: 5vw;
}
.hoverLink:hover {
    color: #3ead67;
}
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
    background: #888;
}
::-webkit-scrollbar-thumb:hover {
    background: #555;
} 
/* .contentHolder {
    opacity: 1;
} */
.slideRight {
    animation: slideRight 600ms ease-in-out;
}
.slideLeft {
    animation: slideLeft 600ms ease-in-out;
}
@keyframes slideRight {
    0% {
        opacity: 1;
        transform: translateX(0);
    }
    25% {
        opacity: 0;
        transform: translateX(100vw);
    }
    50% {
        opacity: 0;
        transform: translateX(-100vw);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}
@keyframes slideLeft {
    0% {
        opacity: 1;
        transform: translateX(0);
    }
    25% {
        opacity: 0;
        transform: translateX(-100vw);
    }
    50% {
        opacity: 0;
        transform: translateX(100vw);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}
@media only screen and (max-width: 1000px) {
}
@media only screen and (max-width: 768px) {
    .galnav {
        transform: scale(0.5);
    }
    .navLeft {
        margin: 45vh auto auto 1vw;
    }
    .navRight {
        margin: 45vh auto auto 85vw;
    }
    .projHeader {
        font-size: 3rem;
        grid-column: 1;
        grid-row: 2;
    }
}
@media only screen and (max-width: 650px) {

}