.appWrapper {
    scroll-behavior: smooth;
    filter: blur(0);
    transition: all 200ms ease-in-out;
    display: grid;
    grid-template-rows: 100vh 100vh 100vh;
    grid-template-columns: auto;
}
.blur {
    filter: blur(2px);
    pointer-events: none;
}
.about {
    grid-row: 1/2;
    background:rgb(13,13,36);
    background-attachment: fixed;
    color: white;
}
.introduction {
    max-width: 65vw;
    margin: 25vh auto;
    perspective: 200px;
    transition: all 200ms ease;
}
.introduction>h1 {
    position: relative;
    font-size: 6rem;
    z-index: 10;
}
.introduction>h3 {
    font-size: 36px;
    color: rgba(255, 255, 255, 0.7);
    margin-bottom: 10px;
    z-index: 10;
}
.introduction>p {
    line-height: 30px;
    font-size: 1rem;
}
.introduction>p:last-of-type {
    margin-top: 5vh;
}
.introduction>p>ul {
    margin-top: 5vh;
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    font-size: 28px;
}
code {
    padding: 5px 10px;
    background: rgb(31, 31, 31);
}
.introduction>p>ul>li:nth-child(1) {
    color: rgb(137, 210, 255);
}
.introduction>p>ul>li:nth-child(2) {
    color: rgb(116, 255, 218);
}
.introduction>p>ul>li:nth-child(3) {
    color: rgb(255, 144, 124);
}
.introduction>p>ul>li:nth-child(4) {
    color: rgb(255, 172, 255);
}
.aboutLinkToPortfolio {
    margin: 15vh auto 0 auto;
    text-align: center;
    width: 15vw;
    border-radius: 5px;
    position: relative;
}
.aboutLinkToPortfolio>a{
    display: block;
    padding: 10px;
    border: 1px solid lightgreen;
    transition: background 150ms ease-in;
}
.aboutLinkToPortfolio>a:hover {
    background:rgb(21, 41, 21);
}
.contacto {
    font-weight: bold;
    cursor: pointer;
    color: black;
}
.un {
    display: inline-block;
    letter-spacing: 1px;
    color: lightgreen;
}

@media only screen and (max-width: 1000px) {
}
@media only screen and (max-width: 768px) {
    .about {
    }
    .introduction {
        max-width: 85vw;
    }
    .introduction>h1 {
        font-size: 3rem;
    }
    .introduction>h3 {
        font-size: 1.5rem;
    }
    .introduction>p {
        line-height: 22px;
    }
    .introduction>p>ul>li {
        font-size: 1rem;
    }
    .aboutLinkToPortfolio {
        margin: 12.5vh auto 0 auto;
        width: 60vw;
    }
}
@media only screen and (max-width: 650px) {
    .about {
    }
}
@media only screen and (max-height: 450px) {
}
