.contact {
    position: relative;
    margin: 0 auto;
    max-width: 90vw;
    grid-row: 3/4;
}
.topSec {
    display: flex;
    justify-content: space-between;
}
.topSec>h1 {
    margin-top: 2vh;
    font-size: 6vw;
    margin-bottom: 30vh;
    width: 40vw;
}
h1>span {
    color: lightgreen;
}
.closingP {
    margin-top: -15vh;
    font-size: 2.5vmin;
    width: 30vw;
}
.closingP>p {
    margin-top: 14px;
}
.contactButtons {
    position: absolute;
    bottom: 5vh;
    right: 0;
    left: 5vw;
    font-size: 36px;
}
.contactButtons>a {
    margin-right: 2vw;
}
.phNum {
    color: rgb(53, 53, 192);
    text-decoration: none;
}
.faObs {
    opacity: 1;
    border-radius: 50%;
    text-decoration: none;
    color: rgb(13, 13, 36);
    transition: color 150ms;
    font-size: 5vmin;
}
.iconVisible {
    opacity: 1;
    transform: scale(1);
}
.faObs:hover {
    color: rgb(159, 159, 181);
}
.faObs:visited {
    text-decoration: none;
}
.formHolder {
    position: relative;
    margin-top: 5vh;
}
form {
    width: 50vw;
    display: flex;
    flex-wrap: wrap;
}
form>*{
    font-family: inherit;
    background: whitesmoke;
    padding: 15px;
    flex-basis: 40%;
    flex-grow: 1;
    margin: 5px;
    border-radius: 10px;
}
form>textarea {
    resize: none;
    height: 50%;
    overflow-y: scroll;
    border: 5px solid transparent;
}
.submitBtn {
    border: 1px solid rgb(13, 13, 36);
    width: 5rem;
    margin: 10px;
    padding: 10px;
    border-radius: 25px;
    text-align: center;
    cursor: pointer;
    transition: all 200ms;
}
.submitBtn:hover {
    background:rgb(13, 13, 36);
    color: white;
}
.resumeButton {
    position: absolute;
    font-size: 3vmin;
    bottom: 5vh;
    left: 40vw;
    right: 0;
    background: rgb(30, 36, 13);
    color: white;
    padding: 2vmin;
    width: fit-content;
    height: fit-content;
    text-align: center;
    border-radius: 5px;
    transition: all 150ms;
}
.resumeButton:hover {
    background:white;
    color: rgb(13, 13, 36);
    border: 1px solid rgb(13, 13, 36);
}
.cubeC {
    margin-left: 70vw;
    margin-top: -10vh;
    width: 200px;
    height: 200px;
    transform-style: preserve-3d;
    pointer-events: none;
    z-index: 1;
    -webkit-animation: cubis 20s linear infinite;
    -moz-animation: cubis 20s linear infinite;
    -o-animation: cubis 20s linear infinite;
    animation: cubis 20s linear infinite;
}
.hideform {
    opacity: 0;
    pointer-events: none;
}
.loading,
.loading:after,
.loading:before,
.done {
    border-radius: 50%;
}
.loading,
.done {
    color: #57d68c;
    font-size: 11px;
    text-indent: -99999em;
    margin: 55px auto;
    position: relative;
    width: 10em;
    height: 10em;
    box-shadow: inset 0 0 0 0.5em;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
  }
.loading:after,
.loading:before,
.done:after {
    position: absolute;
    content: '';
}
.loading:before {
    width: 5.2em;
    height: 10.2em;
    background: white;
    border-radius: 10.2em 0 0 10.2em;
    top: -0.1em;
    left: -0.1em;
    -webkit-transform-origin: 5.1em 5.1em;
    -moz-transform-origin: 5.1em 5.1em;
    -ms-transform-origin: 5.1em 5.1em;
    -o-transform-origin: 5.1em 5.1em;
    transform-origin: 5.1em 5.1em;
    -webkit-animation: load2 2s infinite ease 1.5s;
    -moz-animation: load2 2s infinite ease 1.5s;
    -o-animation: load2 2s infinite ease 1.5s;
    animation: load2 2s infinite ease 1.5s;
}
.loading:after {
    width: 5.2em;
    height: 10.2em;
    background: white;
    border-radius: 0 10.2em 10.2em 0;
    top: -0.1em;
    left: 4.9em;
    -webkit-transform-origin: 0.1em 5.1em;
    -moz-transform-origin: 0.1em 5.1em;
    -ms-transform-origin: 0.1em 5.1em;
    -o-transform-origin: 0.1em 5.1em;
    transform-origin: 0.1em 5.1em;
    -webkit-animation: load2 2s infinite ease;
    -moz-animation: load2 2s infinite ease;
    -o-animation: load2 2s infinite ease;
    animation: load2 2s infinite ease;
}
.done {
    -webkit-animation: growin 5s forwards;
    -moz-animation: growin 5s forwards;
    -o-animation: growin 5s forwards;
    animation: growin 5s forwards;
}
.done:after {
    width: 2em;
    height: 4em;
    top: 2em;
    left: 3.5em;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    border-bottom: 1em solid #57d68c;
    border-right: 1em solid #57d68c;
}
input {
    transition: background-color 100ms;
}
.errorRed {
    background: rgba(245, 48, 48, 0.248);
}
@-webkit-keyframes load2 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
}
@keyframes load2 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
}
@keyframes growin {
    0% {
        opacity: 0;
    }
    20% {
        opacity: 1;
    }
    75% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
@-webkit-keyframes cubis {
    0%
    {
        -webkit-transform: perspective(600px) rotateY(0deg);
    }
    100%
    {
        -webkit-transform: perspective(600px) rotateX(360deg) rotateY(360deg);
    }
}
@-moz-keyframes cubis {
    0%
    {
        transform: perspective(600px) rotateY(0deg);
    }
    100%
    {
        transform: perspective(600px) rotateX(360deg) rotateY(360deg);
    }
}
@-ms-keyframes cubis {
    0%
    {
        -ms-transform: perspective(600px) rotateY(0deg);
    }
    100%
    {
        -ms-transform: perspective(600px) rotateX(360deg) rotateY(360deg);
    }
}
@-o-keyframes cubis {
    0%
    {
        transform: perspective(600px) rotateY(0deg);
    }
    100%
    {
        transform: perspective(600px) rotateX(360deg) rotateY(360deg);
    }
}
@keyframes cubis {
    0%
    {
        transform: perspective(600px) rotateY(0deg);
    }
    100%
    {
        transform: perspective(600px) rotateX(360deg) rotateY(360deg);
    }
}
.animC {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: inherit;
    -o-transform-origin: center;
    -moz-transform-origin: center;
    -webkit-transform-origin: center;
    -webkit-transform-style: inherit;
    transform-origin: center;
    transform-style: preserve-3d;
    pointer-events: none;
    border: 1px solid black;
}
.animC:nth-child(1) {
    -webkit-transform: translateZ(100px);
    transform: translateZ(100px);
}
.animC:nth-child(2) {
    -webkit-transform:translateZ(-100px) rotateX(-179.9deg);
    transform:translateZ(-100px) rotateX(-179.9deg);
}
.animC:nth-child(3) {
    -webkit-transform: translateY(-100px) rotateX(-89.9deg);
    transform: translateY(-100px) rotateX(-89.9deg);
}
.animC:nth-child(4) {
    -webkit-transform: translateY(100px) rotateX(89.9deg);
    transform: translateY(100px) rotateX(89.9deg);
}
.animC:nth-child(5) {
    -webkit-transform: translateX(-100px) rotateY(-89.9deg);
    transform: translateX(-100px) rotateY(-89.9deg);
}
.animC:nth-child(6) {
    -webkit-transform: translateX(100px) rotateY(89.9deg);
    transform: translateX(100px) rotateY(89.9deg);
}
@media only screen and (max-width: 768px) {
    .topSec>h1 {
        margin-top: 4vh;
        font-size: 9vmin;
    }
    .closingP {
        margin-top: -25vh;
        width: 85vw;
    }
    .contactButtons {
        position: absolute;
        left: 10vw;
        font-size: 36px;
        top: 30vh;
    }
    .contactButtons>a {
        margin-right: 12.5vw;
    }
    .resumeButton {
        width: 50vw;
        left: 10vw;
        top: 85vh;
    }
    .cubeC {
        display: none;
    }
    .formHolder {
        display: none;
    }
}
@media only screen and (max-width: 650px) {
    .closingP {
        margin-top: -25vh;
        font-size: 4vmin;
    }
    .faObs {
        font-size: 10vmin;
    }
    .contactButtons {
        top: 60vh;
    }
    .resumeButton {
        font-size: 4vmin;
    }
}
@media only screen and (max-width: 500px) {
    .contactButtons {
        bottom: 10%;
    }
    .resumeButton {
        bottom: 7%;
    }
}
@media only screen and (min-device-width: 375px) and (max-device-height: 813px) and (orientation: landscape) {
    .cubeC {
        display: none;
    }
    .closingP {
        font-size: 4vmin;
        width: 85vw;
        margin-top: -30vh;
    }
    .faObs {
        font-size: 7vmin;
    }
    .contactButtons {
        left: 5vw;
        bottom: 5%;
    }
    .resumeButton {
        width: 25vw;
        font-size: 3vmin;
        left: 9vw;
        bottom: 1%;
    }
    .formHolder {
        display: none;
    }
}
@media all and (device-width: 768px) {
    .contact {
        position: relative;
    }
    .cubeC {
        display: none;
    }
    .contactButtons {
        position: relative;
        top: 5vh;
        left: 0;
    }
    .resumeButton {
        position: relative;
        top: 10vh;
        left: 0;
    }
}
@media all and (device-width: 1024px) {
    .contact {
        position: relative;
    }
    .cubeC {
        display: none;
    }
    .contactButtons {
        position: relative;
        left: 0;
        bottom: 0vh;
    }
    .resumeButton {
        position: relative;
        bottom: 12vh;
        left: 35vw;
    }

}