.navi {
    position: fixed;
    z-index: 1000;
    width: 100%;
    background: transparent;
    display: flex;
    justify-content: flex-end;
    padding: 25px;
    transition: all 200ms ease-in-out;
}
.nav-scrolled>div>.navButton>a {
    color: black;
}
.hidenav {
    display: none;
}
.verticalOpen {
    transform: translateY(-100%);
}
.buttonsWrapper {
    width: 35vw;
}
.navButton>a {
    color: white;
}
.navButton {
    font-size: 16px;
    margin-right: 3vw;
}
.navButton.un {
    display: inline-block;
    color: white;
} 
.navButton.un:after {
    content: '';
    width: 0px;
    height: 1px;
    display: block;
    background: rgb(116, 255, 218);
    transition: 200ms;
} 
.navButton.un:hover:after {
    width: 100%;
}
.navButton.un.active:hover:after {
    width: 0;
}
.hamburg {
    display: initial;
    z-index: 1000;
}
i.fa-bars,
i.fa-times {
    display: none;
    background: transparent;
    border-radius: 50%;
    color: white;
    padding: 15px;
    font-size: 4rem;
    text-decoration: none;
}
i.fa-times {
    font-size: 2rem;
}
i.fa-bars:hover,
i.fa-times:hover {
    transform: none;
    box-shadow: none;
}
i.fa-bars:visited,
i.fa-times:visited {
    text-decoration: none;
}

@media only screen and (max-width: 768px) {
    .navi {
        padding: 5px;
    }
    .navButton.un {
        display: none;
    }
    i.fa-bars,
    i.fa-times {
        display: block;
    }
    .smNavLogo {
        transform: scale(0.3);
        left: -75px;
        top: -72px;
    }
    .buttonsWrapper {
        margin-right: -40vw;
    }
}