.navi {
    position: fixed;
    z-index: 1000;
    width: 100%;
    background: transparent;
    display: flex;
    justify-content: flex-end;
    padding: 25px;
    transition: color 200ms ease-in-out;
}
.nav-scrolled>div>.navButton>a {
    color: black;
}
.hidenav {
    pointer-events: none;
    opacity: 0;
}
.verticalOpen {
    transform: translateY(-100%);
}
.buttonsWrapper {
    width: 35vw;
}
.navButton>a {
    color: white;
}
.navButton {
    font-size: 2vmin;
    margin-right: 3vw;
    animation: sideinav 2000ms;
}
.navButton.un {
    display: inline-block;
    color: white;
} 
.hamburg {
    display: initial;
    z-index: 1000;
}
i.fa-bars,
i.fa-times {
    position: absolute;
    right: 2vw;
    display: block;
    background: transparent;
    border-radius: 50%;
    color: white;
    padding: 15px;
    font-size: 10vmin;
    text-decoration: none;
}
i.fa-times {
    font-size: 2rem;
}
i.fa-bars:hover,
i.fa-times:hover {
    transform: none;
    box-shadow: none;
}
i.fa-bars:visited,
i.fa-times:visited {
    text-decoration: none;
}
@keyframes sideinav {
    0% {
        opacity: 0;
        transform: translateX(25vw)
    }
    50% {
        opacity: 0;
        transform: translateX(15vw);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}
@media only screen and (max-width: 768px) {
    .navi {
        padding: 5px;
    }
    .navButton.un {
        display: none;
    }
    i.fa-bars,
    i.fa-times {
        display: block;
        color: white;
        z-index: 20000;
    }
    .nav-scrolled>div>a>.fa-bars {
        color: darkgreen;
    }
    .smNavLogo {
        transform: scale(0.3);
        left: -75px;
        top: -72px;
    }
    .buttonsWrapper {
        margin-right: -40vw;
    }
}